<% provide :title, "Contact" %>
<!-- Start of page head section
  ============================================= -->
  <section id="page-head" class="page-head-section">
    <div class="page-head-overlay">
      <div class="container">
        <div class="row">
          <div class="page-head-content">
            <div class="page-head-style">
              <img src="assets/images/page-head-style.png" alt="image">
            </div>
            <div class="page-head-title text-uppercase">
              <h2>Contact us</h2>
            </div>
            <div class="page-breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="home-1.html"><span class="mr5 ti-home"></span>Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of  page head section
  ============================================= -->

  <!-- Start of contact page section
  ============================================= -->
  <section id="contact-us" class="contact-us-section">
    <div class="container">
      <div class="row section-content">
        <div class="contact-us-section-content">

          <div class="way-help-section-content">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="way-help-pic-text text-center colmd3">
                  <div class="way-help-pic pb30">
                    <span class="ti-map-alt"></span>
                  </div>
                  <!-- /img -->
                  <div class="way-help-text">
                    <div class="way-help-head pb20 text-uppercase">
                      <h3 class="black">address</h3>
                    </div>
                    <div class="way-help-text-content">
                      <p>315 Chat mohon Bazar <br>
                        New Yor, NY 4536
                      </p>
                    </div>
                  </div>
                  <!-- /text -->
                </div>
              </div>
              <!-- /col-sm-3 -->

              <div class="col-md-3 col-sm-6">
                <div class="way-help-pic-text text-center colmd3">
                  <div class="way-help-pic pb30">
                    <span class="ti-headphone"></span>
                  </div>
                  <!-- /img -->
                  <div class="way-help-text">
                    <div class="way-help-head pb20 text-uppercase">
                      <h3 class="black">PHONE NUMBER</h3>
                    </div>
                    <div class="way-help-text-content">
                      <p>586 365 1278<br>586 365 1279</p>
                    </div>
                  </div>
                  <!-- /text -->
                </div>
              </div>
              <!-- /col-sm-3 -->

              <div class="col-md-3 col-sm-6">
                <div class="way-help-pic-text text-center colmd3">
                  <div class="way-help-pic pb30">
                    <span class="ti-email"></span>
                  </div>
                  <!-- /img -->
                  <div class="way-help-text">
                    <div class="way-help-head pb20 text-uppercase">
                      <h3 class="black">EMAIL ADDRESS</h3>
                    </div>
                    <div class="way-help-text-content">
                      <p>Esupport@sitename.com <br>donate@sitename.com</p>
                    </div>
                  </div>
                  <!-- /text -->
                </div>
              </div>
              <!-- /col-sm-3 -->

              <div class="col-md-3 col-sm-6">
                <div class="way-help-pic-text text-center colmd3">
                  <div class="way-help-pic pb30">
                    <span class="ti-home"></span>
                  </div>
                  <!-- /img -->
                  <div class="way-help-text">
                    <div class="way-help-head pb20 text-uppercase">
                      <h3 class="black">OUR PROGRAMS</h3>
                    </div>
                    <div class="way-help-text-content">
                      <p>www.sitename.com<br>www.yourdomain.com</p>
                    </div>
                  </div>
                  <!-- /text -->
                </div>
              </div>
              <!-- /col-sm-3 -->
            </div>
          </div>
          <!-- /contact-list -->

          <div class="contact-map">
            <div id="google-map">
              <div id="googleMaps" class="google-map-container"></div>
            </div><!-- /#google-map-->
          </div>
          <!-- /contact-map -->

          <div class="contact-form">
            <div class="contact-form-title">
              <div class="section-title text-center">
                <div class="section-title-text text-uppercase">
                  <p>DON'T FORGET TO</p>
                </div>
                <div class="section-title-text">
                  <h2>Drop Us a Line</h2>
                </div>
              </div>
            </div>
            <!-- / contact-form-title-->
            <div class="contact-comment-form pb50 clearfix">
              <div class="comment-form">
                <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                  <div class="contact-comment-info">
                    <input class="name" name="name" type="text" placeholder="Your Name..">
                  </div>
                  <div class="contact-comment-info">
                    <input class="email" name="email" type="email" placeholder="Your Email..">
                  </div>
                  <div class="contact-comment-info">
                    <input class="email" name="email" type="text" placeholder="Your Website..">
                  </div>
                  <div class="contact-comment-info">
                    <div class="contact-comment-info">
                      <input class="email" name="email" type="text" placeholder="Phone Number...">
                    </div>
                  </div>
                  <div class="contact-comment-info mt25">
                    <textarea id="message" name="message" placeholder="Message Here.. " rows="7" cols="30"></textarea>
                  </div>
                  <div class="send-button text-uppercase text-center">
                    <button type="submit" value="Submit">SEND MESSAGE</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- / contact-form-->
        </div>
      </div>
    </div>
  </section>
  <!-- End of contact page section
  ============================================= -->



  <!-- Start of partner section
  ============================================= -->
  <section id="partner" class="partner-section">
    <div class="container">
      <div class="row">
        <div class="partner-section-slider">
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-1.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-2.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-3.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-4.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-2.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-3.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-4.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-2.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-4.png" alt="image"></a>
          </div>
          <div class="partner-pic">
            <a href=""><img src="assets/images/partner-1.png" alt="image"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of partner section
  ============================================= -->


