  <header>
    <div class="header-top-bg">
      <div class="container">
        <div class="row">
          <div class="header-top">
            <div class="head-top-info pull-left">
              <ul class="top-info">
                <li><%= image_tag src="call.png" %>05. 256. 8942</li>
                <li><%= image_tag src="inbox.png" %>info@fundme.com</li>
              </ul>
            </div>
            <!-- /head-top-info -->
            <div class="header-social pull-right">
              <div class="social">
                <ul class="social-list">
                  <li><a href="#"><span class="ti-facebook"></span></a></li>
                  <li><a href="#"><span class="ti-twitter"></span></a></li>
                  <li><a href="#"><span class="ti-google"></span></a></li>
                  <li><a href="#"><span class="ti-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            <!-- /header-social -->
          </div><!-- /header-top -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div>
    <div class="menu-bar">
      <div class="container">
        <div class="row">
          <nav class="navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="home-1.html"><%= image_tag src="logo.png" %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li><a href="cause.html">Causes</a>
                  <ul class="menu-dropdown">
                    <li><a href="cause.html">Causes</a></li>
                    <li><a href="cause-single.html">Causes Details</a></li>
                  </ul>
                </li>
                <li><a href="event.html">Events</a>
                  <ul class="menu-dropdown">
                    <li><a href="event.html">Events</a></li>
                    <li><a href="event-single.html">Events Details</a></li>
                  </ul>
                </li>
                <li><a href="blog-archive.html">Blog</a>
                  <ul class="menu-dropdown">
                    <li><a href="blog-archive.html">Blog Archive</a></li>
                    <li><a href="blog-single.html">Blog Details</a></li>
                  </ul>
                </li>
                <li><a href="#">Pages</a>
                  <ul class="menu-dropdown">
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="about.html">About-us</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
            <div class="home-donate donate-btn-1 text-uppercase">
              <a href="donation.html">donate now</a>
            </div>
            <div id="sb-search" class="sb-search " >
                  <form action="#" method="post">
                   <input class="sb-search-input " onkeyup="buttonUp();" placeholder="Enter Your Search Word..." type="search" value="" name="search" id="search">
                 <input class="sb-search-submit" type="submit"  value="">
                 <span class="sb-icon-search"><i class="ti-search"></i></span>
                  </form>
            </div>
          </nav>
          <div class="wrap">
            <!--MENU-->
            <div id="main-menu">
              <div class="menu-btn">
                <div class="menu-btn-line menu-btn-line-1"></div>
                <div class="menu-btn-line menu-btn-line-2"></div>
                <div class="menu-btn-line menu-btn-line-3"></div>
              </div>
              <div class="moduletable_menu">

                <ul class="nav menu">
                  <li><a href="home-1.html">Home</a></li>
                  <li><a href="about-us.html">About</a></li>
                  <li><a href="blog-archive.html">Blog</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                  <li><a href="cause.html">Cause</a></li>
                  <li><a href="cause-single.html">Cause Details</a></li>
                  <li><a href="event.html">Event</a></li>
                  <li><a href="event-single.html">Event Single</a></li>
                  <li><a href="404.html">404</a></li>
                  <li><a href="contact.html">Contacts</a></li>
                </ul>
              </div>
            </div>
            <!-- END menu -->
          </div><!--/wrap  -->
        </div><!--/row  -->
      </div><!--/container  -->
    </div><!--/menu-bar  -->
  </header>
  <!-- End of Header -->
